body {
	font-family: 'Open Sans', sans-serif;
	color: black;
	font-weight: 400;
	width: 100%;
	height: 100%;
	padding: 50px 70px 0 70px;
	margin: 0;
}

h1 {
	font-weight: 600;
	font-size: 36px;
	color: black;
}

.buttons {
    float: right;
}

.solid {
  border-top: 1px solid black;
}

button {
  border: 1px solid black;
  color: black;
  background-color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}

button:hover {
  border: 1px solid white;
  color: white;
  background-color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: white;
  text-decoration: none;
}

.grid-container {
    grid-template-columns: auto auto auto auto;
    padding: 15px 5px;
}
.delete-checkbox {
    margin: 10px;
    transform: scale(1.5);
}

.card {
  text-align: center;
}

.items {
    min-height: 700px;
}

.footer {
    height: 50px;
}

.note {
    font-size: 15px;
    color: gray;
}

